body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:93px;
  top:127px;
  width:247px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:49px;
  top:220px;
  width:290px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:271px;
  width:290px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:49px;
  top:394px;
  width:290px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:469px;
  width:319px;
  height:217px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:217px;
}
#u11 {
  position:absolute;
  left:2px;
  top:100px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:49px;
  top:134px;
  width:34px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:49px;
  top:240px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:121px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:121px;
}
#u16 {
  position:absolute;
  left:2px;
  top:44px;
  width:286px;
  word-wrap:break-word;
}
